## Webscraping FIFA WC 2026 Group Stage Table

In [12]:
import requests

url = "https://en.wikipedia.org/wiki/2026_FIFA_World_Cup"
headers = {
    "User-Agent": "Mozilla/5.0 (Windows NT 10.0; Win64; x64) AppleWebKit/537.36 (KHTML, like Gecko) Chrome/120.0 Safari/537.36"
}

r = requests.get(url, headers=headers, timeout=15)
print(r.status_code)
print(r.text[:300])

200
<!DOCTYPE html>
<html class="client-nojs vector-feature-language-in-header-enabled vector-feature-language-in-main-page-header-disabled vector-feature-page-tools-pinned-disabled vector-feature-toc-pinned-clientpref-1 vector-feature-main-menu-pinned-disabled vector-feature-limited-width-clientpref-1

In [13]:
import requests

api = "https://en.wikipedia.org/w/api.php"
params = {
    "action": "parse",
    "page": "2026_FIFA_World_Cup",
    "prop": "text",
    "format": "json"
}
headers = {"User-Agent": "MyDataProject/1.0 (contact: youremail@example.com)"}

r = requests.get(api, params=params, headers=headers, timeout=15)
print(r.status_code)
data = r.json()
html = data["parse"]["text"]["*"]

200

In [34]:
import pandas as pd
import requests

url = "https://en.wikipedia.org/wiki/2026_FIFA_World_Cup"
headers = {"User-Agent": "Mozilla/5.0"}

html = requests.get(url, headers=headers, timeout=15).text
tables = pd.read_html(html)

print("Number of tables:", len(tables))

C:\Users\obinn\AppData\Local\Temp\ipykernel_13416\845858599.py:8: FutureWarning: Passing literal html to 'read_html' is deprecated and will be removed in a future version. To read from a literal string, wrap it in a 'StringIO' object.
  tables = pd.read_html(html)

Number of tables: 170

In [25]:
tables[0].head()

,FIFA World Cup 26Copa Mundial de la FIFA 26Coupe du Monde de la FIFA 26,FIFA World Cup 26Copa Mundial de la FIFA 26Coupe du Monde de la FIFA 26.1
0,We Are 26Somos 26Nous Sommes 26,We Are 26Somos 26Nous Sommes 26
1,Tournament details,Tournament details
2,Host countries,Canada Mexico United States
3,Dates,June 11 – July 19
4,Teams,48 (from 6 confederations)

In [26]:
tables[10].head()

  Pos                Team
0  A1              Mexico
1  A2        South Africa
2  A3         South Korea
3  A4  UEFA Path D winner

In [35]:
for idx, df in enumerate(tables):
    rows, cols = df.shape
    colnames = list(df.columns)
    print(f"\nTable index: {idx}")
    print(f"Rows: {rows} | Columns: {cols}")
    print(f"Column names: {colnames}")

Table index: 0
Rows: 7 | Columns: 2
Column names: ['FIFA World Cup 26Copa Mundial de la FIFA 26Coupe du Monde de la FIFA 26', 'FIFA World Cup 26Copa Mundial de la FIFA 26Coupe du Monde de la FIFA 26.1']

Table index: 1
Rows: 8 | Columns: 1
Column names: [0]

Table index: 2
Rows: 4 | Columns: 2
Column names: ['Allowed to vote', 'Ineligible to vote']

Table index: 3
Rows: 6 | Columns: 2
Column names: [('Nation', 'Nation'), ('Vote', 'Round 1')]

Table index: 4
Rows: 1 | Columns: 3
Column names: [0, 1, 2]

Table index: 5
Rows: 16 | Columns: 4
Column names: ['City', 'Stadium', 'Capacity', 'Image']

Table index: 6
Rows: 64 | Columns: 2
Column names: ['Training site', 'Hotel']

Table index: 7
Rows: 1 | Columns: 3
Column names: [0, 1, 2]

Table index: 8
Rows: 1 | Columns: 4
Column names: ['Pot 1', 'Pot 2', 'Pot 3', 'Pot 4']

Table index: 9
Rows: 63 | Columns: 4
Column names: [0, 1, 2, 3]

Table index: 10
Rows: 4 | Columns: 2
Column names: ['Pos', 'Team']

Table index: 11
Rows: 4 | Columns: 2
Column names: ['Pos', 'Team']

Table index: 12
Rows: 4 | Columns: 2
Column names: ['Pos', 'Team']

Table index: 13
Rows: 4 | Columns: 2
Column names: ['Pos', 'Team']

Table index: 14
Rows: 4 | Columns: 2
Column names: ['Pos', 'Team']

Table index: 15
Rows: 4 | Columns: 2
Column names: ['Pos', 'Team']

Table index: 16
Rows: 4 | Columns: 2
Column names: ['Pos', 'Team']

Table index: 17
Rows: 4 | Columns: 2
Column names: ['Pos', 'Team']

Table index: 18
Rows: 4 | Columns: 2
Column names: ['Pos', 'Team']

Table index: 19
Rows: 4 | Columns: 2
Column names: ['Pos', 'Team']

Table index: 20
Rows: 4 | Columns: 2
Column names: ['Pos', 'Team']

Table index: 21
Rows: 4 | Columns: 2
Column names: ['Pos', 'Team']

Table index: 22
Rows: 9 | Columns: 3
Column names: ['Round', 'Matchday', 'Date']

Table index: 23
Rows: 17 | Columns: 4
Column names: ['Matchday', 'Pairings', 'Groups', 'Date']

Table index: 24
Rows: 1 | Columns: 1
Column names: ['Tie-breaking criteria for group stage ranking']

Table index: 25
Rows: 4 | Columns: 11
Column names: ['Pos', 'Teamvte', 'Pld', 'W', 'D', 'L', 'GF', 'GA', 'GD', 'Pts', 'Qualification']

Table index: 26
Rows: 1 | Columns: 3
Column names: ['Mexico', 'Match 1', 'South Africa']

Table index: 27
Rows: 1 | Columns: 3
Column names: ['South Korea', 'Match 2', 'UEFA Path D winner']

Table index: 28
Rows: 1 | Columns: 3
Column names: ['UEFA Path D winner', 'Match 25', 'South Africa']

Table index: 29
Rows: 1 | Columns: 3
Column names: ['Mexico', 'Match 28', 'South Korea']

Table index: 30
Rows: 1 | Columns: 3
Column names: ['UEFA Path D winner', 'Match 53', 'Mexico']

Table index: 31
Rows: 1 | Columns: 3
Column names: ['South Africa', 'Match 54', 'South Korea']

Table index: 32
Rows: 4 | Columns: 11
Column names: ['Pos', 'Teamvte', 'Pld', 'W', 'D', 'L', 'GF', 'GA', 'GD', 'Pts', 'Qualification']

Table index: 33
Rows: 1 | Columns: 3
Column names: ['Canada', 'Match 3', 'UEFA Path A winner']

Table index: 34
Rows: 1 | Columns: 3
Column names: ['Qatar', 'Match 8', 'Switzerland']

Table index: 35
Rows: 1 | Columns: 3
Column names: ['Switzerland', 'Match 26', 'UEFA Path A winner']

Table index: 36
Rows: 1 | Columns: 3
Column names: ['Canada', 'Match 27', 'Qatar']

Table index: 37
Rows: 1 | Columns: 3
Column names: ['Switzerland', 'Match 51', 'Canada']

Table index: 38
Rows: 1 | Columns: 3
Column names: ['UEFA Path A winner', 'Match 52', 'Qatar']

Table index: 39
Rows: 4 | Columns: 11
Column names: ['Pos', 'Teamvte', 'Pld', 'W', 'D', 'L', 'GF', 'GA', 'GD', 'Pts', 'Qualification']

Table index: 40
Rows: 1 | Columns: 3
Column names: ['Brazil', 'Match 7', 'Morocco']

Table index: 41
Rows: 1 | Columns: 3
Column names: ['Haiti', 'Match 5', 'Scotland']

Table index: 42
Rows: 1 | Columns: 3
Column names: ['Scotland', 'Match 30', 'Morocco']

Table index: 43
Rows: 1 | Columns: 3
Column names: ['Brazil', 'Match 29', 'Haiti']

Table index: 44
Rows: 1 | Columns: 3
Column names: ['Scotland', 'Match 49', 'Brazil']

Table index: 45
Rows: 1 | Columns: 3
Column names: ['Morocco', 'Match 50', 'Haiti']

Table index: 46
Rows: 4 | Columns: 11
Column names: ['Pos', 'Teamvte', 'Pld', 'W', 'D', 'L', 'GF', 'GA', 'GD', 'Pts', 'Qualification']

Table index: 47
Rows: 1 | Columns: 3
Column names: ['United States', 'Match 4', 'Paraguay']

Table index: 48
Rows: 1 | Columns: 3
Column names: ['Australia', 'Match 6', 'UEFA Path C winner']

Table index: 49
Rows: 1 | Columns: 3
Column names: ['United States', 'Match 32', 'Australia']

Table index: 50
Rows: 1 | Columns: 3
Column names: ['UEFA Path C winner', 'Match 31', 'Paraguay']

Table index: 51
Rows: 1 | Columns: 3
Column names: ['UEFA Path C winner', 'Match 59', 'United States']

Table index: 52
Rows: 1 | Columns: 3
Column names: ['Paraguay', 'Match 60', 'Australia']

Table index: 53
Rows: 4 | Columns: 11
Column names: ['Pos', 'Teamvte', 'Pld', 'W', 'D', 'L', 'GF', 'GA', 'GD', 'Pts', 'Qualification']

Table index: 54
Rows: 1 | Columns: 3
Column names: ['Germany', 'Match 10', 'Curaçao']

Table index: 55
Rows: 1 | Columns: 3
Column names: ['Ivory Coast', 'Match 9', 'Ecuador']

Table index: 56
Rows: 1 | Columns: 3
Column names: ['Germany', 'Match 33', 'Ivory Coast']

Table index: 57
Rows: 1 | Columns: 3
Column names: ['Ecuador', 'Match 34', 'Curaçao']

Table index: 58
Rows: 1 | Columns: 3
Column names: ['Curaçao', 'Match 55', 'Ivory Coast']

Table index: 59
Rows: 1 | Columns: 3
Column names: ['Ecuador', 'Match 56', 'Germany']

Table index: 60
Rows: 4 | Columns: 11
Column names: ['Pos', 'Teamvte', 'Pld', 'W', 'D', 'L', 'GF', 'GA', 'GD', 'Pts', 'Qualification']

Table index: 61
Rows: 1 | Columns: 3
Column names: ['Netherlands', 'Match 11', 'Japan']

Table index: 62
Rows: 1 | Columns: 3
Column names: ['UEFA Path B winner', 'Match 12', 'Tunisia']

Table index: 63
Rows: 1 | Columns: 3
Column names: ['Netherlands', 'Match 35', 'UEFA Path B winner']

Table index: 64
Rows: 1 | Columns: 3
Column names: ['Tunisia', 'Match 36', 'Japan']

Table index: 65
Rows: 1 | Columns: 3
Column names: ['Japan', 'Match 57', 'UEFA Path B winner']

Table index: 66
Rows: 1 | Columns: 3
Column names: ['Tunisia', 'Match 58', 'Netherlands']

Table index: 67
Rows: 4 | Columns: 11
Column names: ['Pos', 'Teamvte', 'Pld', 'W', 'D', 'L', 'GF', 'GA', 'GD', 'Pts', 'Qualification']

Table index: 68
Rows: 1 | Columns: 3
Column names: ['Belgium', 'Match 16', 'Egypt']

Table index: 69
Rows: 1 | Columns: 3
Column names: ['Iran', 'Match 15', 'New Zealand']

Table index: 70
Rows: 1 | Columns: 3
Column names: ['Belgium', 'Match 39', 'Iran']

Table index: 71
Rows: 1 | Columns: 3
Column names: ['New Zealand', 'Match 40', 'Egypt']

Table index: 72
Rows: 1 | Columns: 3
Column names: ['Egypt', 'Match 63', 'Iran']

Table index: 73
Rows: 1 | Columns: 3
Column names: ['New Zealand', 'Match 64', 'Belgium']

Table index: 74
Rows: 4 | Columns: 11
Column names: ['Pos', 'Teamvte', 'Pld', 'W', 'D', 'L', 'GF', 'GA', 'GD', 'Pts', 'Qualification']

Table index: 75
Rows: 1 | Columns: 3
Column names: ['Spain', 'Match 14', 'Cape Verde']

Table index: 76
Rows: 1 | Columns: 3
Column names: ['Saudi Arabia', 'Match 13', 'Uruguay']

Table index: 77
Rows: 1 | Columns: 3
Column names: ['Spain', 'Match 38', 'Saudi Arabia']

Table index: 78
Rows: 1 | Columns: 3
Column names: ['Uruguay', 'Match 37', 'Cape Verde']

Table index: 79
Rows: 1 | Columns: 3
Column names: ['Cape Verde', 'Match 65', 'Saudi Arabia']

Table index: 80
Rows: 1 | Columns: 3
Column names: ['Uruguay', 'Match 66', 'Spain']

Table index: 81
Rows: 4 | Columns: 11
Column names: ['Pos', 'Teamvte', 'Pld', 'W', 'D', 'L', 'GF', 'GA', 'GD', 'Pts', 'Qualification']

Table index: 82
Rows: 1 | Columns: 3
Column names: ['France', 'Match 17', 'Senegal']

Table index: 83
Rows: 1 | Columns: 3
Column names: ['IC Path 2 winner', 'Match 18', 'Norway']

Table index: 84
Rows: 1 | Columns: 3
Column names: ['France', 'Match 42', 'IC Path 2 winner']

Table index: 85
Rows: 1 | Columns: 3
Column names: ['Norway', 'Match 41', 'Senegal']

Table index: 86
Rows: 1 | Columns: 3
Column names: ['Norway', 'Match 61', 'France']

Table index: 87
Rows: 1 | Columns: 3
Column names: ['Senegal', 'Match 62', 'IC Path 2 winner']

Table index: 88
Rows: 4 | Columns: 11
Column names: ['Pos', 'Teamvte', 'Pld', 'W', 'D', 'L', 'GF', 'GA', 'GD', 'Pts', 'Qualification']

Table index: 89
Rows: 1 | Columns: 3
Column names: ['Argentina', 'Match 19', 'Algeria']

Table index: 90
Rows: 1 | Columns: 3
Column names: ['Austria', 'Match 20', 'Jordan']

Table index: 91
Rows: 1 | Columns: 3
Column names: ['Argentina', 'Match 43', 'Austria']

Table index: 92
Rows: 1 | Columns: 3
Column names: ['Jordan', 'Match 44', 'Algeria']

Table index: 93
Rows: 1 | Columns: 3
Column names: ['Algeria', 'Match 69', 'Austria']

Table index: 94
Rows: 1 | Columns: 3
Column names: ['Jordan', 'Match 70', 'Argentina']

Table index: 95
Rows: 4 | Columns: 11
Column names: ['Pos', 'Teamvte', 'Pld', 'W', 'D', 'L', 'GF', 'GA', 'GD', 'Pts', 'Qualification']

Table index: 96
Rows: 1 | Columns: 3
Column names: ['Portugal', 'Match 23', 'IC Path 1 winner']

Table index: 97
Rows: 1 | Columns: 3
Column names: ['Uzbekistan', 'Match 24', 'Colombia']

Table index: 98
Rows: 1 | Columns: 3
Column names: ['Portugal', 'Match 47', 'Uzbekistan']

Table index: 99
Rows: 1 | Columns: 3
Column names: ['Colombia', 'Match 48', 'IC Path 1 winner']

Table index: 100
Rows: 1 | Columns: 3
Column names: ['Colombia', 'Match 71', 'Portugal']

Table index: 101
Rows: 1 | Columns: 3
Column names: ['IC Path 1 winner', 'Match 72', 'Uzbekistan']

Table index: 102
Rows: 4 | Columns: 11
Column names: ['Pos', 'Teamvte', 'Pld', 'W', 'D', 'L', 'GF', 'GA', 'GD', 'Pts', 'Qualification']

Table index: 103
Rows: 1 | Columns: 3
Column names: ['England', 'Match 22', 'Croatia']

Table index: 104
Rows: 1 | Columns: 3
Column names: ['Ghana', 'Match 21', 'Panama']

Table index: 105
Rows: 1 | Columns: 3
Column names: ['England', 'Match 45', 'Ghana']

Table index: 106
Rows: 1 | Columns: 3
Column names: ['Panama', 'Match 46', 'Croatia']

Table index: 107
Rows: 1 | Columns: 3
Column names: ['Panama', 'Match 67', 'England']

Table index: 108
Rows: 1 | Columns: 3
Column names: ['Croatia', 'Match 68', 'Ghana']

Table index: 109
Rows: 12 | Columns: 12
Column names: ['Pos', 'Grp', 'Teamvte', 'Pld', 'W', 'D', 'L', 'GF', 'GA', 'GD', 'Pts', 'Qualification']

Table index: 110
Rows: 495 | Columns: 22
Column names: ['No.', 'Third-placed teams advance from groupsvte', 'Third-placed teams advance from groupsvte.1', 'Third-placed teams advance from groupsvte.2', 'Third-placed teams advance from groupsvte.3', 'Third-placed teams advance from groupsvte.4', 'Third-placed teams advance from groupsvte.5', 'Third-placed teams advance from groupsvte.6', 'Third-placed teams advance from groupsvte.7', 'Third-placed teams advance from groupsvte.8', 'Third-placed teams advance from groupsvte.9', 'Third-placed teams advance from groupsvte.10', 'Third-placed teams advance from groupsvte.11', 'Unnamed: 13', '1A vs', '1B vs', '1D vs', '1E vs', '1G vs', '1I vs', '1K vs', '1L vs']

Table index: 111
Rows: 119 | Columns: 19
Column names: [0, 1, 2, 3, 4, 5, 6, 7, 8, 9, 10, 11, 12, 13, 14, 15, 16, 17, 18]

Table index: 112
Rows: 1 | Columns: 3
Column names: ['Runner-up Group A', 'Match 73', 'Runner-up Group B']

Table index: 113
Rows: 1 | Columns: 3
Column names: ['Winner Group C', 'Match 76', 'Runner-up Group F']

Table index: 114
Rows: 1 | Columns: 3
Column names: ['Winner Group E', 'Match 74', '3rd Group A/B/C/D/F']

Table index: 115
Rows: 1 | Columns: 3
Column names: ['Winner Group F', 'Match 75', 'Runner-up Group C']

Table index: 116
Rows: 1 | Columns: 3
Column names: ['Runner-up Group E', 'Match 78', 'Runner-up Group I']

Table index: 117
Rows: 1 | Columns: 3
Column names: ['Winner Group I', 'Match 77', '3rd Group C/D/F/G/H']

Table index: 118
Rows: 1 | Columns: 3
Column names: ['Winner Group A', 'Match 79', '3rd Group C/E/F/H/I']

Table index: 119
Rows: 1 | Columns: 3
Column names: ['Winner Group L', 'Match 80', '3rd Group E/H/I/J/K']

Table index: 120
Rows: 1 | Columns: 3
Column names: ['Winner Group G', 'Match 82', '3rd Group A/E/H/I/J']

Table index: 121
Rows: 1 | Columns: 3
Column names: ['Winner Group D', 'Match 81', '3rd Group B/E/F/I/J']

Table index: 122
Rows: 1 | Columns: 3
Column names: ['Winner Group H', 'Match 84', 'Runner-up Group J']

Table index: 123
Rows: 1 | Columns: 3
Column names: ['Runner-up Group K', 'Match 83', 'Runner-up Group L']

Table index: 124
Rows: 1 | Columns: 3
Column names: ['Winner Group B', 'Match 85', '3rd Group E/F/G/I/J']

Table index: 125
Rows: 1 | Columns: 3
Column names: ['Runner-up Group D', 'Match 88', 'Runner-up Group G']

Table index: 126
Rows: 1 | Columns: 3
Column names: ['Winner Group J', 'Match 86', 'Runner-up Group H']

Table index: 127
Rows: 1 | Columns: 3
Column names: ['Winner Group K', 'Match 87', '3rd Group D/E/I/J/L']

Table index: 128
Rows: 1 | Columns: 3
Column names: ['Winner Match 73', 'Match 90', 'Winner Match 75']

Table index: 129
Rows: 1 | Columns: 3
Column names: ['Winner Match 74', 'Match 89', 'Winner Match 77']

Table index: 130
Rows: 1 | Columns: 3
Column names: ['Winner Match 76', 'Match 91', 'Winner Match 78']

Table index: 131
Rows: 1 | Columns: 3
Column names: ['Winner Match 79', 'Match 92', 'Winner Match 80']

Table index: 132
Rows: 1 | Columns: 3
Column names: ['Winner Match 83', 'Match 93', 'Winner Match 84']

Table index: 133
Rows: 1 | Columns: 3
Column names: ['Winner Match 81', 'Match 94', 'Winner Match 82']

Table index: 134
Rows: 1 | Columns: 3
Column names: ['Winner Match 86', 'Match 95', 'Winner Match 88']

Table index: 135
Rows: 1 | Columns: 3
Column names: ['Winner Match 85', 'Match 96', 'Winner Match 87']

Table index: 136
Rows: 1 | Columns: 3
Column names: ['Winner Match 89', 'Match 97', 'Winner Match 90']

Table index: 137
Rows: 1 | Columns: 3
Column names: ['Winner Match 93', 'Match 98', 'Winner Match 94']

Table index: 138
Rows: 1 | Columns: 3
Column names: ['Winner Match 91', 'Match 99', 'Winner Match 92']

Table index: 139
Rows: 1 | Columns: 3
Column names: ['Winner Match 95', 'Match 100', 'Winner Match 96']

Table index: 140
Rows: 1 | Columns: 3
Column names: ['Winner Match 97', 'Match 101', 'Winner Match 98']

Table index: 141
Rows: 1 | Columns: 3
Column names: ['Winner Match 99', 'Match 102', 'Winner Match 100']

Table index: 142
Rows: 1 | Columns: 3
Column names: ['Loser Match 101', 'Match 103', 'Loser Match 102']

Table index: 143
Rows: 1 | Columns: 3
Column names: ['Winner Match 101', 'Match 104', 'Winner Match 102']

Table index: 144
Rows: 3 | Columns: 3
Column names: ['Player', 'Offense(s)', 'Suspension(s)']

Table index: 145
Rows: 1 | Columns: 3
Column names: ['FIFA partners', 'FIFA World Cup sponsors', 'FIFA World Cup supporters']

Table index: 146
Rows: 1 | Columns: 3
Column names: ['North American supporters', 'South American supporters', 'European supporters']

Table index: 147
Rows: 7 | Columns: 4
Column names: ['Atlanta', 'Boston', 'Dallas', 'Guadalajara']

Table index: 148
Rows: 9 | Columns: 4
Column names: [('Place', 'Place'), ('Teams', 'Teams'), ('Amount (in millions)', 'Per team'), ('Amount (in millions)', 'Total')]

Table index: 149
Rows: 1 | Columns: 2
Column names: [0, 1]

Table index: 150
Rows: 3 | Columns: 2
Column names: ['vte2026 FIFA World Cup', 'vte2026 FIFA World Cup.1']

Table index: 151
Rows: 3 | Columns: 2
Column names: ['vte2026 FIFA World Cup stadiums', 'vte2026 FIFA World Cup stadiums.1']

Table index: 152
Rows: 13 | Columns: 2
Column names: ['vteFIFA World Cup', 'vteFIFA World Cup.1']

Table index: 153
Rows: 23 | Columns: 2
Column names: ['vteSoccer in Canada', 'vteSoccer in Canada.1']

Table index: 154
Rows: 4 | Columns: 2
Column names: [0, 1]

Table index: 155
Rows: 2 | Columns: 2
Column names: [0, 1]

Table index: 156
Rows: 2 | Columns: 2
Column names: [0, 1]

Table index: 157
Rows: 14 | Columns: 2
Column names: ['vte Football in Mexico', 'vte Football in Mexico.1']

Table index: 158
Rows: 2 | Columns: 2
Column names: [0, 1]

Table index: 159
Rows: 2 | Columns: 2
Column names: [0, 1]

Table index: 160
Rows: 3 | Columns: 2
Column names: [0, 1]

Table index: 161
Rows: 30 | Columns: 2
Column names: ['vte Soccer in the United States', 'vte Soccer in the United States.1']

Table index: 162
Rows: 12 | Columns: 2
Column names: [0, 1]

Table index: 163
Rows: 3 | Columns: 2
Column names: [0, 1]

Table index: 164
Rows: 2 | Columns: 2
Column names: [0, 1]

Table index: 165
Rows: 2 | Columns: 2
Column names: [0, 1]

Table index: 166
Rows: 9 | Columns: 2
Column names: [0, 1]

Table index: 167
Rows: 2 | Columns: 2
Column names: [0, 1]

Table index: 168
Rows: 2 | Columns: 2
Column names: [0, 1]

Table index: 169
Rows: 5 | Columns: 2
Column names: ['vteWorld championships in 2026', 'vteWorld championships in 2026.1']

## Webscraping of largest companies in the united states

In [29]:
import pandas as pd
import requests

# URL containing the table
url = 'https://en.wikipedia.org/wiki/List_of_largest_companies_in_the_United_States_by_revenue'
headers = {"User-Agent": "Mozilla/5.0"}

html = requests.get(url, headers=headers, timeout=15).text
table_list = pd.read_html(html)

print("Number of tables:", len(table_list))

Number of tables: 3

C:\Users\obinn\AppData\Local\Temp\ipykernel_13416\15097152.py:9: FutureWarning: Passing literal html to 'read_html' is deprecated and will be removed in a future version. To read from a literal string, wrap it in a 'StringIO' object.
  table_list = pd.read_html(html)

In [30]:
table_1 = table_list[0]
table_1.head()

,Rank,Name,Industry,Revenue (USD millions),Revenue growth,Employees,Headquarters
0,1,Walmart,Retail,680985,5.1%,2100000,"Bentonville, Arkansas"
1,2,Amazon,Retail and cloud computing,637959,11.0%,1556000,"Seattle, Washington"
2,3,UnitedHealth Group,Healthcare,400278,7.7%,400000,"Minnetonka, Minnesota"
3,4,Apple,Technology,391035,2.0%,164000,"Cupertino, California"
4,5,CVS Health,Healthcare,372809,4.2%,259500,"Woonsocket, Rhode Island"

In [31]:
table_2 = table_list[1]
table_2.head()

,Rank,Name,Industry,Revenue (USD billions),Employees,Headquarters
0,1,Cargill,Food industry,154.00,155000,"Minnetonka, Minnesota"
1,2,Koch,Multicompany,125.00,120000,"Wichita, Kansas"
2,3,Publix Super Markets,Food Markets,59.70,260000,"Lakeland, Florida"
3,4,Mars,Food & Drink,55.00,150000,"McLean, Virginia"
4,5,H-E-B Grocery Company,Food Markets,49.57,175000,"San Antonio, Texas"